@import "../abstract/mixins";
.header {
    background-color: var(--header-background);
    width: 100%;
    position: fixed;
    z-index: 20;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include breakpoint(md) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }
    .header-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .icon {
            display: flex;
            align-items: center;
            margin-left: 1.8rem;
            gap: 0.2rem;
            @include breakpoint(md) {
                gap: 0.1rem;
                margin-left: 1rem;
            }
            .icon-heart {
                margin-left: 1rem;
            }
            h1 {
                @include title(4.5rem);
                margin-left: -12px;
                margin-bottom: 12px;
                @include breakpoint(md) {
                    @include title(3rem);
                }
            }
            span {
                @include title(3rem);
                margin-left: -15px;
                @include breakpoint(md) {
                    @include title(2.5rem);
                }
            }
        }
        .navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 70%;
            @include breakpoint(md) {
                display: none;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
                position: absolute;
                top: 10rem;
                left: 10rem;
            }
        }
        ul {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            gap: 2rem;
            @include breakpoint(md) {
                right: 0;
                top: 100%;
                width: 100%;
                height: 100vh;
                background-color: rgba(0, 0, 0, 0.866);
                color: black;
                position: absolute;
                flex-direction: column;
                justify-content: flex-start;
                padding-top: 1rem;
            }
            li {
                @include breakpoint(md) {
                    position: static;
                }
                a {
                    @include title(1.5rem);
                    cursor: pointer;
                    @include breakpoint(md) {
                        @include title(1rem);
                    }
                    &:hover {
                        color: var(--theme-color1);
                        transition: all 300ms ease-in-out;
                    }
                }
            }
        }
        .menu-hamburguer {
            display: none;
            font-size: 3rem;
            cursor: pointer;
            @include breakpoint(md) {
                display: flex;
            }
        }
    }
}