* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--font-principal);
    background-color: var(--body-background);
    height: 100%;
    cursor: default;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    border: none;
    background: none;
}