@import "../../abstract/mixins";
.theme-idioms {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    position: relative;
    .switch {
        @include title(0.8rem);
        .switcher-title {
            text-align: center;
            margin-bottom: 0.2rem;
        }
        .switcher {
            display: flex;
            align-items: center;
            gap: 0.4rem;
            .selected-eng
                ~ .switcher-container
                .switcher-container-inside
                #switcher:checked {
                color: red;
            }
        }
        .switcher-container {
            border: 1px solid black;
            //background-color: var(--theme-color1);
            border-radius: 15px;
            position: relative;
            width: 70px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .switcher-container-inside {
            background-color: var(--theme-color1-opositive);
            border-radius: 15px;
            width: 62px;
            height: 22px;
            .switcher-selector {
                &:after {
                    display: flex;
                    border: 1px solid black;
                    background-color: #fff;
                    position: absolute;
                    content: "";
                    border-radius: 100%;
                    height: 20px;
                    width: 20px;
                    top: 3px;
                    left: 3px;
                    cursor: pointer;
                    transition: 0.6s;
                }
            }
            #switcher {
                display: none;
                &:checked ~ .switcher-selector:after {
                    left: 43px;
                }
            }
        }
    }
    .theme-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .color-selector-theme {
            position: absolute;
            display: flex;
            z-index: 20;
            .color-selector {
                @include colorSelectorBox(5px, 0px, 0px, 5px);
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                .color-square {
                    border: 1px solid black;
                    position: absolute;
                    border-radius: 5px;
                    width: 20px;
                    height: 20px;
                }
            }
            .arrow-selector {
                @include colorSelectorBox(0px, 5px, 5px, 0px);
                font-size: 1.2rem;
                justify-content: center;
                align-items: center;
                display: flex;
                cursor: pointer;
                &:active {
                    transform: translate(3px, 3px);
                    transition: transform 0.15s ease-in-out;
                }
            }
        }
        .bg-container {
            display: flex;
            .bg-selector-theme-left {
                border: 1px solid black;
                margin-top: 4px;
                margin-left: 9px;
                border-radius: 5px 0 0 5px;
                width: 35px;
                height: 35px;
            }
            .bg-selector-theme-right {
                border: 1px solid black;
                margin-top: 4px;
                margin-left: 0px;
                border-radius: 0 5px 5px 0;
                width: 35px;
                height: 35px;
            }
        }
        @keyframes showMenu {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        .dropdown-container-active {
            animation: 0.5s showMenu ease-in-out 0s;
            animation-fill-mode: forwards;
        }
        .dropdown-container {
            border-radius: var(--general-border-radius);
            text-transform: uppercase;
            background-color: white;
            border: 3px solid black;
            position: absolute;
            padding: 0.8rem;
            right: 1.6rem;
            width: 10rem;
            z-index: 10;
            top: 7rem;
            transform: translateY(0px);
            transition: all 0.8s ease;
            @include breakpoint(md) {
                position: relative;
                top: 0.5rem;
                right: 0rem;
            }
            ul {
                display: block;
                @include breakpoint(md) {
                    position: relative;
                    height: 10rem;
                    background-color: white;
                    margin-top: 0;
                    padding-top: 0rem;
                }
            }
            .dropdown-item-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin: 0.5rem 0;
                .color-code-container {
                    position: relative;
                    z-index: 5;
                    right: 2rem;
                    height: 2rem;
                    .front-color-code {
                        position: absolute;
                        width: 2rem;
                        height: 2rem;
                        border: 1px solid black;
                        border-radius: var(--general-border-radius);
                        cursor: pointer;
                        &:active {
                            transform: translate(3px, 3px);
                            transition: transform 0.15s ease-in-out;
                        }
                    }
                    .bg-color-code {
                        position: absolute;
                        top: 3px;
                        left: 3px;
                        z-index: -1;
                        width: 2rem;
                        height: 2rem;
                        border: 1px solid black;
                        background-color: black;
                        border-radius: var(--general-border-radius);
                    }
                }
            }
        }
    }
}