@import "../../abstract/mixins";

.btn-project-container {
    position: relative;

    a {
        color: black;
    }

    .front-btn-project {
        cursor: pointer;
        position: absolute;
        width: 10rem;
        height: 45px;
        background-color: white;
        border: 3px solid black;
        border-radius: var(--general-border-radius);

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        text-transform: uppercase;
        font-size: 0.7rem;

        @include breakpoint(md) {
            width: 9.5rem;
            margin-left: 0.4rem;
        }

        @include breakpoint(sm) {
            padding: 0.5rem;
            width: 8.5rem;
            gap: 0.3rem;
        }

        span {
            font-size: 1.8rem;

            @include breakpoint(md) {
                font-size: 1.5rem;
            }

            @include breakpoint(sm) {
                font-size: 1.5rem;
            }
        }

        p {
            margin-top: -0.3rem;

            @include breakpoint(sm) {
                text-align: center;
            }
        }

        &:active {
            transform: translate(6px, 6px);
            transition: transform 0.15s ease-in-out;
        }
    }

    .bg-btn-project {
        //background-color: var(--theme-color1);
        border: 3px solid black;
        border-radius: var(--general-border-radius);
        position: absolute;
        width: 10rem;
        height: 45px;
        z-index: -1;
        left: 6px;
        top: 6px;

        @include breakpoint(md) {
            width: 9.5rem;
            left: 12px;
        }

        @include breakpoint(sm) {
            width: 8.5rem;
        }
    }
}
